.banner-pricing {
    background-image: url(../images/banners/pricing-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 82vh;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.banner-about {
    background-image: url(../images/banners/stripe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 35vh;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.banner-about-two {
    background-image: url(../images/banners/pineapple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 35vh;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.banner-about-two:hover {
    transform: scaleX(-1);
}
