.banner-pricing {
    background-image: url(../images/banners/pricing-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 82vh;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
