.bg-black{
    background-image: linear-gradient(to right, #FFFFFF, #EDEADE, #FFFFFF);
}
.ig-gradient{
    background: linear-gradient(to right, #f9ed32, #ee2a7b, #002aff);
    color: white;
    font-size: 10px;
}
